<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- 常用字符串处理和图片上传类    接口处理 -->
	<bean id="usualStrMethod" class="com.tony.method.UsualStrMethod" abstract="true" />
	<bean id="usualStrMethodImpl" class="com.tony.impl.UsualStrMethodImpl" parent="usualStrMethod">
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	<!-- 服务类 -->
	<bean name="connData" class="com.tony.database.ConnData"/>
	<bean id="userActionService" class="com.tony.method.UserActionService" abstract="true" />
	<bean id="userActionServiceImpl" class="com.tony.impl.UserActionServiceImpl" parent="userActionService">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	
	
	<!-- Service注入 -->
	
	
	<bean id="luckyActionService" class="com.tony.method.LuckyActionService" abstract="true" />
	<bean id="luckyActionServiceImpl" class="com.tony.impl.LuckyActionServiceImpl" parent="luckyActionService">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	<bean id="coucherActionService" class="com.tony.method.CoucherActionService" abstract="true" />
	<bean id="coucherActionServiceImpl" class="com.tony.impl.CoucherActionServiceImpl" parent="coucherActionService">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	<!-- 微信用户代金券信息操作 -->
	<bean id="coucherWechatActionService" class="com.tony.method.CoucherWechatActionService" abstract="true" />
	<bean id="coucherWechatActionServiceImpl" class="com.tony.impl.CoucherWechatActionServiceImpl" parent="coucherWechatActionService">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	<!-- 微信抽奖操作 -->
	<bean id="luckyWechatActionService" class="com.tony.method.LuckyWechatActionService" abstract="true" />
	<bean id="luckyWechatActionServiceImpl" class="com.tony.impl.LuckyWechatActionServiceImpl" parent="luckyWechatActionService">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	<!-- 微信用户个人信息操作 -->
	<bean id="userWechatActionService" class="com.tony.method.UserWechatActionService" abstract="true" />
	<bean id="userWechatActionServiceImpl" class="com.tony.impl.UserWechatActionServiceImpl" parent="userWechatActionService">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	
	<!-- 公共方法：用于分页 -->
	<bean name="pageMethod" class="com.tony.page.PageMethod" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	
	<!-- ACTION处理 -->
	<bean name="userAction" class="com.tony.action.UserAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="userActionService">
			<ref bean="userActionServiceImpl"/>
		</property>
	</bean>
	<bean name="coucherAction" class="com.tony.action.CoucherAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="coucherActionService">
			<ref bean="coucherActionServiceImpl"/>
		</property>
	</bean>
	<bean name="luckyAction" class="com.tony.action.LuckyAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="luckyActionService">
			<ref bean="luckyActionServiceImpl"/>
		</property>
	</bean>
	<bean name="commonAction" class="com.tony.action.CommonAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="pageMethod">
			<ref bean="pageMethod"/>
		</property>
		<property name="connData">
			<ref bean="connData"/>
		</property>
	</bean>
	<!-- 微信端用户信息action -->
	<bean name="userWechatAction" class="com.tony.action.UserWechatAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="userWechatActionService">
			<ref bean="userWechatActionServiceImpl"/>
		</property>
	</bean>
	<!-- 微信端用户代金券action -->
	<bean name="coucherWechatAction" class="com.tony.action.CoucherWechatAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="coucherWechatActionService">
			<ref bean="coucherWechatActionServiceImpl"/>
		</property>
	</bean>
	<!-- 微信端用户抽奖action -->
	<bean name="luckyWechatAction" class="com.tony.action.LuckyWechatAction" scope="prototype">
		<property name="usualStrMethod">
			<ref bean="usualStrMethodImpl"/>
		</property>
		<property name="luckyWechatActionService">
			<ref bean="luckyWechatActionServiceImpl"/>
		</property>
	</bean>
</beans>